<!--
 * @Author: reber
 * @Mail: reber0ask@qq.com
 * @Date: 2020-02-08 16:28:54
 * @LastEditTime : 2021-01-29 13:32:54
 -->
<title>设置我的密码</title>

<div class="layui-card layadmin-header">
  <div class="layui-breadcrumb" lay-filter="breadcrumb">
    <a lay-href="">主页</a>
    <a><cite>设置</cite></a>
    <a><cite>我的密码</cite></a>
  </div>
</div>
  
<div class="layui-fluid">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-card-header">修改密码</div>
        <div class="layui-card-body" pad15>
          
          <div class="layui-form" lay-filter="">
            <div class="layui-form-item">
              <label class="layui-form-label">当前密码</label>
              <div class="layui-input-inline">
                <input type="password" name="oldPassword" lay-verify="required" lay-verType="tips" class="layui-input">
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">新密码</label>
              <div class="layui-input-inline">
                <input type="password" name="password" lay-verify="pass" lay-verType="tips" autocomplete="off" id="LAY_password" class="layui-input">
              </div>
              <div class="layui-form-mid layui-word-aux">6到16个字符</div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">确认新密码</label>
              <div class="layui-input-inline">
                <input type="password" name="repassword" lay-verify="repass" lay-verType="tips" autocomplete="off" class="layui-input">
              </div>
            </div>
            <div class="layui-form-item">
              <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="set-user-pass">确认修改</button>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    layui.use(['admin', 'form'], function(){
        var admin = layui.admin;
        var form = layui.form;
        var $ = layui.$;

        /*
        //自定义验证
        form.verify({
            pass: function(value, item){ //value：表单的值、item：表单的DOM对象
                if(/^\d+\d+\d$/.test(value)){
                    return '密码不能全为数字';
                }
            },
            //确认密码
            repass: function(value){
                if(value !== $('#LAY_password').val()){
                    return '两次密码输入不一致';
                }
            }
        });
        */

        // 保存：event 为 submit、lay-filter 为 set-user-pass 的按钮
        form.on('submit(set-user-pass)', function(data){
            var formData = data.field;

            admin.req({
                url: '/api/set/user/password/update',
                type: 'post',
                dataType: "json", //期望后端返回json
                contentType: "application/json", //发送的数据的类型
                data: JSON.stringify(formData),
                timeout: 20000,
                success: function (result) {
                    layer.msg(result.msg, {offset: '150px', icon: 1, time: 1000});
                }
            });
        });
    });
</script>